/* ============== reset ============== */

@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* variáveis */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

.active {
    color: var(--yellow) !important;
    border-bottom: 2px solid var(--yellow);
    padding-bottom: 10px;
}

html, body {
    height: 100%;
    overflow-x: none;
    background-color: var(--dark);
}

/* ============== header ============== */

.header-area {
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header-area > .btn-menu {
    display: none;
}

.header-area > .logo {
    order: 2;
}

/* navbar */
.header-area > .navbar-main {
    order: 1;
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-area > .navbar-main ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

.header-area > .navbar-main ul li {
    margin-right: 15px;
}

.header-area > .navbar-main ul li:last-child {
    margin-right: 0;
}

.header-area > .navbar-main ul li a {
    color: var(--light);
    padding-bottom: 10px;
}

.header-area > .navbar-main ul li a:hover {
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
}

/* área de contato */
.header-area > .contato-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    order: 3;
}

.header-area > .contato-area .redes-sociais {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.header-area > .contato-area .redes-sociais li a {
    color: var(--light);
}

.header-area > .contato-area .redes-sociais li a:hover {
    color: var(--yellow);
    transition: 0.4s;
}

.header-area > .contato-area .redes-sociais li a i {
    font-size: 15pt;
}

.header-area > .contato-area .redes-sociais li a .icofont-google-plus {
    font-size: 20pt;
    position: relative;
    top: -2px;
}

/* contact number */
.header-area > .contato-area .contato-number {
    color: var(--yellow);
    border: 1px solid var(--yellow);
    padding: 15px 20px;
    border-radius: 20px;
    margin-right: 20px;
}

.header-area > .contato-area .contato-number:hover {
    color: var(--light);
    border: 1px solid var(--light);
    transition: 0.4s;
}

@media screen and (max-width: 992px) {

    .header-area > .contato-area .contato-number {
        display: none;
    }

    /* logo */
    .header-area > .logo {
        padding: 10px;
        order: 1;
    }

    .header-area > .logo img {
        width: 120px;
    }

    /* btn control menu */
    .header-area > .btn-menu {
        display: block;
        background-color: transparent;
        border: none;
        color: var(--light);
        cursor: pointer;
        font-size: 1.4em;
        padding-right: 10px;
        order: 3;
    }

    .header-area > .btn-menu i {
        border: 2px solid var(--light);
        padding: 10px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .header-area > .btn-menu i:hover {
        border: 2px solid var(--yellow);
        color: var(--yellow);
    }

    /* navbar */
    .header-area > .navbar-main {
        background-color: var(--light);
        padding: 10px;
        width: 100%;
        margin: 5% 0px 0px -10px;
        display: none;
        position: absolute;
        top: 80px;
        z-index: 999;
    }

    .header-area > .navbar-main ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
    }

    .header-area > .navbar-main ul li {
        display: block;
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }

    .header-area > .navbar-main ul li a {
        color: var(--dark);
    }

    /* redes sociais */
    .header-area> .contato-area  {
        order: 2;
    }

}

@media screen and (min-width: 993px) and (max-width: 1200px){

    .header-area {
        overflow-x: hidden;
    }

    .header-area> .contato-area  {
        margin-right: -15%;
    }

    .header-area > .contato-area .contato-number {
        display: none;
    }
}

